<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<tr>
    <td>Организации</td>
    <td><a href="http://localhost:8080/organizations"/>Ссылка</td>
</tr>
<tr>
    <td>Подразделения</td>
    <td><a href="http://localhost:8080/organizations"/>Ссылка</td>
</tr>
<tr>
    <td>Сотрудники</td>
    <td><a href="http://localhost:8080/organizations"/>Ссылка</td>
</tr>
<tr>
    <td>Поручения</td>
    <td><a href="http://localhost:8080/organizations"/>Ссылка</td>
</tr>
</body>
</html>