<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<p>Обновить документ</p>
<form th:method ="patch" th:action = "@{http://localhost:documents/{id} (id = ${updatedDocument.getId_document()})}" th:object ="${updatedDocument}">
    <div>
        <lable for="document">Введите предмет‌ ‌поручения</lable>
        <input type="text" th:field ="*{subject_document}" id="subject_document">
        <div style="color:red" th:if="${#fields.hasErrors}" th:errors="*{subject_document}">Name error</div>
    </div>
    <div>
        <label for="author_document">Выберите автора поручения:</label>
        <select th:field="*{author_document}" id="author_document">
            <option th:each="employee : ${employees}" th:value="${employee.getId_employee()}" th:text="${employee}">
            </option>
        </select>
    </div>
    <div>
        <lable for="period_of_execution">Введите срок‌ ‌исполнения</lable>
        <input type="text" th:field ="*{period_of_execution}" id="period_of_execution" >
        <div style="color:red" th:if="${#fields.hasErrors('period_of_execution')}" th:errors="*{period_of_execution}">Name error</div>

    </div>

    <div>
        <lable for="document">Введите текст‌ ‌поручения</lable>
        <input type="text" th:field ="*{text_document}" id="text_document">
        <div style="color:red" th:if="${#fields.hasErrors('text_document')}" th:errors="*{text_document}">Name error</div>

    </div>

<!--    <div>-->
<!--            <label for="executors_document">Выберите исполнителей ‌поручения:</label>-->
<!--            <select th:object="${employees}" id="executors_document">-->
<!--                <option th:each="employee : ${employees}" th:value="${employee.getId_employee()}"-->
<!--                        th:text="${employee}">-->
<!--                </option>-->
<!--            </select>-->
<!--            <input type="submit" value=" Назначить исполнителей">-->
<!--    </div>-->

    <input type="submit" value="Сохранить!">
</form>
</body>
</html>
